# 约定
# schema定义名称大写字母开头代表一个对象类型，小写字母开头代表一个基本类型
# 例如 Role表示{id:'guest'} role表示'guest'
# Roles表示[{id:'guest'}] roles表示['guest']
openapi: 3.0.0
servers:
  - url: 'https://api.jamma.cn/acl'
  - url: 'http://gateway.l.jamma.cn/acl'
  - url: 'http://api.l.jamma.cn/acl'
  - url: 'http://localhost:3000/acl'
info:
  version: 1.0.0
  title: acl
  description: acl api
  contact:
    name: jeff
    url: 'https://github.com/jammacn'
    email: jeff@jamma.cn
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: common
    description: 常用接口
externalDocs:
  url: 'https://github.com/jm-root/acl'
paths:
  /areAnyRolesAllowed:
    get:
      summary: 角色鉴权
      description: 检查角色是否有权限访问，任意角色对于资源有权限，就返回true，否则返回false
      parameters:
        - $ref: '#/components/parameters/roles'
        - $ref: '#/components/parameters/resource'
        - $ref: '#/components/parameters/permissions'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
  /isAllowed:
    get:
      summary: 用户鉴权
      description: 检查用户是否有权限访问，有就返回true，否则返回false
      parameters:
        - $ref: '#/components/parameters/user'
        - $ref: '#/components/parameters/resource'
        - $ref: '#/components/parameters/permissions'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
  /clear:
    get:
      summary: 清除配置
      description: （谨慎使用）清除所有数据，恢复到默认配置
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  /load:
    get:
      summary: 加载配置
      description: 重新加载配置信息
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  /permissions:
    get:
      summary: 查询权限列表
      parameters:
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionList'
        default:
          $ref: '#/components/responses/Err'
    post:
      summary: 保存权限列表
      description: 替换所有数据
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionList'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 清空所有权限
      description: （谨慎使用）清除数据，恢复到默认配置
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  '/permissions/{id}':
    get:
      summary: 查询权限
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
        default:
          $ref: '#/components/responses/Err'
    put:
      summary: 更新权限
      description: 如果不存在，则自动新建
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 删除权限
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  /resources:
    get:
      summary: 查询资源列表
      parameters:
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
        default:
          $ref: '#/components/responses/Err'
    post:
      summary: 保存资源列表
      description: 替换所有数据
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceList'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 清空所有资源
      description: （谨慎使用）清除数据，恢复到默认配置
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  '/resources/{id}':
    get:
      summary: 查询资源
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          $ref: '#/components/responses/Err'
    put:
      summary: 更新资源
      description: 如果不存在，则自动新建
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 删除资源
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  /roles:
    get:
      summary: 查询角色列表
      parameters:
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleList'
        default:
          $ref: '#/components/responses/Err'
    post:
      summary: 保存角色列表
      description: 替换所有数据
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleList'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 清空所有角色
      description: （谨慎使用）清除数据，恢复到默认配置
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  '/roles/{id}':
    get:
      summary: 查询角色
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        default:
          $ref: '#/components/responses/Err'
    put:
      summary: 更新角色
      description: 如果不存在，则自动新建
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
    delete:
      summary: 删除角色
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
  '/roles/{id}/resources':
    get:
      summary: 获取指定角色的资源列表
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resources'
  /users:
    get:
      summary: 查询用户列表
      parameters:
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
        default:
          $ref: '#/components/responses/Err'
    post:
      summary: 新增用户
      description: 如果用户已经存在，更新用户
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/Err'
  '/users/{id}':
    get:
      summary: 查询用户
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
    put:
      summary: 更新用户
      description: 如果用户不存在，则自动新建用户
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
    delete:
      summary: 删除用户
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          $ref: '#/components/responses/BoolRet'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
  '/users/{id}/roles':
    get:
      summary: 查询用户角色
      description: 返回用户的角色数组，包含继承的父级角色
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: 返回结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolelist'
        default:
          $ref: '#/components/responses/Err'
      tags:
        - common
components:
  schemas:
    List:
      type: object
      description: 列表
      properties:
        rows:
          type: array
          items:
            type: object
      required:
        - rows
    Err:
      type: object
      properties:
        err:
          type: integer
          format: int32
          example: 1
          description: 错误编码
        msg:
          type: string
          example: Fail
          description: 错误信息
        status:
          type: integer
          format: int32
          example: 500
          description: 状态码
    BoolRet:
      type: object
      properties:
        ret:
          type: boolean
          format: int32
          example: true
    Ret:
      type: object
      properties:
        ret:
          type: integer
          format: int32
          example: 0
          description: 0 失败 1 成功
    Permission:
      type: object
      description: 权限
      properties:
        id:
          type: string
          example: get
        title:
          type: string
          example: 查
          description: 标题
    Permissions:
      type: array
      items:
        $ref: '#/components/schemas/Permission'
    PermissionList:
      type: object
      description: 权限列表
      allOf:
        - $ref: '#/components/schemas/List'
        - type: object
          properties:
            rows:
              $ref: '#/components/schemas/Permissions'
    permissions:
      type: array
      items:
        type: string
        example: get
    Resource:
      type: object
      description: 资源
      properties:
        id:
          type: string
          example: /acl
        title:
          type: string
          example: 鉴权
          description: 标题
        noRecursion:
          type: boolean
          example: true
          description: 是否允许传递权限
        permissions:
          $ref: '#/components/schemas/permissions'
        children:
          $ref: '#/components/schemas/Resources'
    Resources:
      type: array
      items:
        $ref: '#/components/schemas/Resource'
    ResourceList:
      type: object
      description: 资源列表
      allOf:
        - $ref: '#/components/schemas/List'
        - type: object
          properties:
            rows:
              $ref: '#/components/schemas/Resources'
    resource:
      type: object
      description: 资源
      properties:
        id:
          type: string
          example: /acl
        permissions:
          $ref: '#/components/schemas/permissions'
        children:
          $ref: '#/components/schemas/resources'
    resources:
      type: array
      items:
        $ref: '#/components/schemas/resource'
    Role:
      type: object
      description: 角色
      properties:
        id:
          type: string
          example: guest
        title:
          type: string
          example: 游客
          description: 标题
        description:
          type: string
          example: 所有未登录的用户
          description: 描述
        resources:
          $ref: '#/components/schemas/resources'
    Roles:
      type: array
      items:
        $ref: '#/components/schemas/Role'
    RoleList:
      type: object
      description: 角色列表
      allOf:
        - $ref: '#/components/schemas/List'
        - type: object
          properties:
            rows:
              $ref: '#/components/schemas/Roles'
    roles:
      type: array
      items:
        type: string
        example: guest
    rolelist:
      type: object
      properties:
        rows:
          $ref: '#/components/schemas/roles'
    User:
      type: object
      description: 用户
      properties:
        id:
          type: string
          example: 5d9d5af874050000c7006b43
        nick:
          type: string
          example: admin
          description: 昵称
        roles:
          $ref: '#/components/schemas/roles'
    Users:
      type: array
      items:
        $ref: '#/components/schemas/User'
    UserList:
      type: object
      description: 用户列表
      allOf:
        - $ref: '#/components/schemas/List'
        - type: object
          properties:
            rows:
              $ref: '#/components/schemas/Users'
  parameters:
    id:
      name: id
      in: path
      description: id
      required: true
      schema:
        type: string
      examples:
        user:
          $ref: '#/components/examples/id'
        permission:
          $ref: '#/components/examples/permission'
        resource:
          $ref: '#/components/examples/resource'
        role:
          $ref: '#/components/examples/role'
    fields:
      name: fields
      description: 指定需要返回的字段，默认全部返回
      in: query
      schema:
        type: array
        items:
          type: string
      examples:
        all:
          $ref: '#/components/examples/allfields'
        fields:
          $ref: '#/components/examples/fields'
    user:
      name: user
      in: query
      description: 用户
      schema:
        type: string
      examples:
        user:
          $ref: '#/components/examples/user'
    role:
      name: role
      in: query
      description: 角色
      schema:
        type: string
      examples:
        role:
          $ref: '#/components/examples/role'
    roles:
      name: roles
      in: query
      description: 角色数组
      schema:
        type: array
        items:
          type: string
      examples:
        roles:
          $ref: '#/components/examples/roles'
    resource:
      name: resource
      in: query
      description: 资源
      schema:
        type: string
      examples:
        resource:
          $ref: '#/components/examples/resource'
    permissions:
      name: permissions
      in: query
      description: 权限数组
      schema:
        type: array
        items:
          type: string
      examples:
        permissions:
          $ref: '#/components/examples/permissions'
  responses:
    Err:
      description: 返回错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Err'
    BoolRet:
      description: 返回Boolean结果
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BoolRet'
    Ret:
      description: 返回结果
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Ret'
  examples:
    id:
      summary: 用户
      value: '5d9d5af874050000c7006b43'
    allfields:
      summary: 所有字段
      value: []
    fields:
      summary: 字段id
      value: ['id']
    user:
      summary: 用户
      value: '5d9d5af874050000c7006b43'
    role:
      summary: 角色
      value: 'guest'
    roles:
      summary: 角色数组
      value: ['guest','root']
    resource:
      summary: 资源
      value: '/acl'
    permission:
      summary: 权限
      value: 'get'
    permissions:
      summary: 权限数组
      value: ['get','post']